body {
    display: flex;
    background-color: #8E0028;
    color: black;
    flex-direction: column;
    column-count: 1;
    align-items: center;
    flex-grow: 1;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/2/27/Arizona_Coyotes.svg/1200px-Arizona_Coyotes.svg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 30%;
    border-top: 45px solid rgba(80, 80, 252, 0.856);
}




header {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 30%;
    color: blue;
    align-items: baseline;
    justify-content: center;
    background-image: url("https://cdn.hipwallpaper.com/i/1/33/HwIRT1.jpg");
}

nav {
    display: inline-block;
    margin-inline-start: center;
    background-color: rgb(223, 203, 160);
    color: rgb(45, 41, 36);
    height: 15%;
    width: 100%;
    border: 5px solid #1b202e;
}

a:hover{
    background-color: #8E0028;
    font-size: 125%;
    color: rgb(223, 203, 160);
} 



#blueLine {
    height: 5%;
    width: 100%;
    background-color: blue;
}

h1 {
    display: flex;
    width: 100%;
    height: 50px;
    color: rgba(80, 80, 252, 0.856);
    justify-content: center; 
    font-size: 100px;
}

h2 {
    color: rgb(223, 203, 160);

}

main {
    display: inline-grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(2, 20vh);
    grid-auto-flow: row;
    align-content: start;
    grid-column: start;
    background-color: rgba(245, 245, 245, 0.596);
    align-content: stretch;
    grid-gap: 10px 10px;
}

span {
    display: grid;
    grid-column: 1;
}

#ariStats {
    grid-column: 1 / 5;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

#hall {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
#hallStats {
    grid-column: 2 / 5;
    grid-row: 2;
}

img {
  height: 75%;
  width: 100%;  
}

footer {
    display: inline-block;
    background-color: rgb(255, 0, 0);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

@media all and (min-width:1200px){ ... }
@media all and (min-width: 960px) and (max-width: 1199px) { ... }
@media all and (min-width: 768px) and (max-width: 959px) { ... }
@media all and (min-width: 480px) and (max-width: 767px){ ... }
@media all and (max-width: 599px) and (min-width:  )
@media all and (max-width: 479px) { ... }
