body {
    display: flex;
    background-image: url("https://dynamicmedia.zuza.com/zz/m/original_/3/e/3ed17868-fcde-49c9-afa8-010bab09023e/B88748759Z.1_20190612232910_000_GGOKFDD7.4-0_Super_Portrait.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 30%;
    color: black;
    flex-direction: column;
    column-count: 1;
    align-items: center;
    flex-grow: 1;
    border-top: 45px solid rgba(80, 80, 252, 0.856);
    background-color: whitesmoke;
}

#blueLine {
    display: inline-block;
    height: 15px;
    width: 100%;
    background-color: blue;
}


header {
    display: flex;
    width: 100%;
    height: 1fr;
    color: blue;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: larger;
    align-items: baseline;
    justify-content: center;
    background-image: url("https://cdn.hipwallpaper.com/i/1/33/HwIRT1.jpg");
}




h1 {
    display: flex;
    width: 100%;
    height: 200px;
    color: rgba(80, 80, 252, 0.856);
    justify-content: center; 
    font-size: 100px;
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    h1 {
        display: flex;
        font-size: 25px;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    h1 {
        display: flex;
        font-size: 35px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    h1 {
        display: flex;
        height: 90%;
        align-items: center;
        justify-content: center;
        font-size: 35px;
    }
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    h1 {
        display: flex;
        font-size: 70px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
        display: flex;
        font-size: 25px;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
}

/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
    padding: 8px 16px;
    text-align: center;
    background-color: #FCB514;
    color: #002F87;
    border: 2px solid #1b202e;
} */

nav {
    display: inline-block;
    background-color: #FCB514;
    color: #002F87;
    height: 15%;
    width: 63%;
    border: 2px solid #1b202e;
    text-align: center;
    }

a:hover{
    background-color: #002F87;
    font-size: 125%;
    color: #FCB514
    } 

    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
      nav {
          font-size: 12px;
          justify-content: space-evenly;
          text-align: center;
      }
  }
  
  /* Portrait and Landscape */
  @media screen 
    and (device-width: 320px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 3) {
      nav {
          display: flex;
          width: 100%;
          font-size: 10px;
          justify-content: space-evenly;
      }
  }
  
  @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
      nav {
          display: flex;
          width: 100%;
          font-size: 10px;
          justify-content: space-evenly;
      }
  }
  
  @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
      nav {
          display: flex;
          font-size: 10px;
          justify-content: space-evenly;
          width: 67%;
      }
  }


main {
    display: inline-grid;
    height: 90%;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(8, 20vh);
    grid-auto-flow: row;
    align-content: start;
    background-color: rgba(245, 245, 245, 0.801);
    align-content: stretch;
    grid-gap: 10px 10px;
    font-size: 18px;
    font-weight: 600;
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    main {
        display: inline-grid;
        font-size: 10px;
        grid-gap: 5px 5px;

    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
        main {
            display: inline-grid;
            font-size: 10px;
            grid-gap: 5px 5px;
        }
  }
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    main {
        font-size: 10px;
        grid-gap: 5px 5px;
    }
  }

span {
    display: grid;
    grid-column: 1;
    align-content: stretch;
    grid-template-columns: repeat(3, 20vw);
}
#ari {
    grid-column: 1;
    grid-row: 1;
}

.ari {
    background-color: rgba(142, 0, 40, 0.582);
    border: 2px solid rgb(223, 203, 160);
    outline: 2px solid #1b202e;
}
#car {
    background-color: rgba(225, 58, 61, 0.61);
    border: 2px solid white;
    outline: 2px solid black;
    grid-column: 1;
    grid-row: 2;
}
.car {
    background-color: rgba(225, 58, 61, 0.61);
    border: 2px solid white;
    outline: 2px solid black;
}

.skjeiStats {
    grid-column: 2;
}
.trocheckStats {
    grid-column: 2;
}
#edm {
    grid-column: 1;
    grid-row: 3;
}

.edm {
    background-color: rgba(207, 70, 32, 0.61);
    border: 2px solid white;
    outline: 2px solid #00205B;
}
.aAstats {
    grid-column: 2;
}
#fla{
    grid-column: 1;
    grid-row: 4;
}

.fla {
    background-color:rgba(200, 16, 47, 0.582);
    border: 2px solid #B9975B;
    outline: 2px solid #041E42;
}

.haulaStats {
    grid-column: 2;
}
.wallmarkStats {
    grid-column: 2;
}
#min{
    grid-column: 1;
    grid-row: 5;
}

.min {
    background-color:#01583775;
    border: 2px solid #EEE3C6;
    outline: 2px solid #C8102E;
}

.alexGstats {
    grid-column: 2;
}
#nyi{
    grid-column: 1;
    grid-row: 6;
}
.nyi {
    background-color: rgba(252, 77, 2, 0.644);
    border: 2px solid white;
    outline: 2px solid #003087;
}

.jgpStats {
    grid-column: 2;
}
#pit {
    grid-column: 1;
    grid-row: 7;
}

.pit {
    background-color: #ffb71c85;
    border: 2px solid black;
    outline: 2px solid #ffb81c;
}

.zuckerStats {
    grid-column: 2;
}
#tbl{
    grid-column: 1;
    grid-row: 8;
}

.tbl {
    background-color: rgba(0, 63, 126, 0.562);
    border: 2px solid white;
    outline: 2px solid #003E7E; 
}
.blakeStats {
    grid-column: 2;
}

#nyrTraded {
    background-color: rgba(0, 0, 255, 0.397);
    border: 2px solid white;
    outline: 2px solid red;
}

#detTraded  {
    background-color: rgba(255, 0, 0, 0.466);
    border: 2px solid white;
    outline: 2px solid red;
}
#carTraded  {
    background-color: rgba(225, 58, 61, 0.61);
    border: 2px solid white;
    outline: 2px solid black;
}


#ottTraded  {
    background-color: rgba(228, 23, 61, 0.61);
    border: 2px solid #D69F0F;
    outline: 2px solid black;
}

#njdTraded  {
    background-color: rgba(255, 0, 0, 0.61);
    border: 2px solid white;
    outline: 2px solid black;
}

#minTraded  {
    background-color:#01583775;
    border: 2px solid #EEE3C6;
    outline: 2px solid #C8102E;

}

#pitTraded  {
    background-color: #ffb71c85;
    border: 2px solid black;
    outline: 2px solid #ffb81c;
}


footer {
    display: inline-block;
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    footer {
        height: 12px;
    }

  }   

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    footer {
        height: 25px;
    }
  }  
  @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    footer {
        height: 20px;
    }
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    footer {
        height: 20px;
    }
}
/* 378 px:  Trocheck and oilers collide 





*/